@mixin noMouseEvent {
  pointer-events: none;
  user-select: none;
}

@mixin font($font, $valueMin, $valueMax) {
  $fontMin: $valueMin * 16rem;
  $fontMax: $valueMax * 16rem;
  font-size: $valueMin * 1rem;
  font-family: map-get($font, font-family);
  letter-spacing: map-get($font, letter-spacing);
  line-height: map-get($font, line-height);
  font-weight: map-get($font, font-weight);
  @media (min-width: 320px) {
    font-size: $valueMin * 1rem;
  }
  @media (min-width: 1281px) {
    font-size: $valueMax * 1rem;
  }
}
