@mixin noMouseEvent {
	user-select: none;
	pointer-events: none;
}
@mixin marginDefault {
	margin: $body-block-size $body-inline-size;
}
@mixin paddingDefault {
	padding: $body-block-size $body-inline-size;
}
@mixin marginBlockDefault {
	margin-block: $body-block-size;
}
@mixin paddingBlockDefault {
	padding-block: $body-block-size;
}
@mixin marginInlineDefault {
	margin-inline: $body-inline-size;
}
@mixin paddingInlineDefault {
	padding-inline: $body-inline-size;
}
@mixin buttonDefault {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: $size2;
	padding: $size1 $size2;
	background-color: transparent;
	color: $color3;
	border: 1px solid $color3;
	@include fontDefault;
	cursor: pointer;
}
@mixin fontDefault {
	font-family: $font-family-1;
	letter-spacing: 0.75px;
	line-height: 1.5;
}
@mixin fontSmall {
	font-size: max(12px, 2.54vw);
}
@mixin fontNormal {
	font-size: max(18px, 2.54vw);
}
@mixin fontBig {
	font-size: max(32px, 2.54vw);
}
@mixin borderDefault {
	border: 1px solid $color3;
	border-radius: $border-radius;
}
