@import url("https://fonts.googleapis.com/css2?family=Unbounded&family=Inter:wght@400;700&display=swap");

// breakpoints
$mq-phone: 753px;
$mq-laptop: 1440px;
$mq-desktop: 1680px;

// css var
:root {
  --dark: rgb(16, 16, 16);
  --light: rgb(255, 255, 255);
  --base-block: 2rem;
  --base-inline: 2vw;
  --base-gap: 2vw;
  --base-radius: 16px;
}

:root[data-theme="light"] {
  --primary: var(--dark);
  --secondary: var(--light);
}

:root[data-theme="dark"] {
  --primary: var(--light);
  --secondary: var(--dark);
}

//
$normal: (
  font-family: "Inter",
  letter-spacing: -0.5px,
  line-height: 1.5,
  font-weight: 400,
);

$heading: (
  font-family: "Unbounded",
  letter-spacing: 1.8px,
  line-height: 1.3,
  font-weight: 700,
  text-transform: uppercase,
);
