$size1: 8px;
$size2: 16px;
$size3: 24px;
$size4: 32px;
$size5: 40px;
$border-size: 3px;
$border-radius: 8px;
$cursor-size: $size2;
$body-block-size: $size4;
$body-inline-size: $size3;

$color1: #a8eb12;
$color2: #ababab;
$color3: #fff;
$color4: #141414;

$progress-bar-color: $color1;

$font-family-1: 'Manrope';
$font-family-2: 'MonumentExtended';

$font-size-1: 40px;
$font-size-2: 134px;
