@import url('https://fonts.googleapis.com/css2?family=Unbounded&family=Inter:wght@400;700&display=swap');

:root {
	--dark: rgb(24, 24, 24);
	--light: rgb(250, 250, 250);
	--accent: rgb(221, 220, 167);
	--shadow: rgba(0, 0, 0, 0.05);
}

:root[data-theme='light'] {
	--primary: var(--dark);
	--secondary: var(--light);
	--hover: var(--accent);
	--navbar-bg: #fff;
	--navbar-color: #fff;
}

:root[data-theme='dark'] {
	--primary: var(--light);
	--secondary: var(--dark);
	--hover: var(--accent);
	--navbar-bg: #181818;
	--navbar-color: #fff;
}
