@import url("https://fonts.googleapis.com/css2?family=Unbounded&family=Inter:wght@400;700&display=swap");
:root {
  --dark: rgb(24, 24, 24);
  --light: rgb(250, 250, 250);
  --accent: rgb(221, 220, 167);
  --shadow: rgba(0, 0, 0, 0.05);
}

:root[data-theme=light] {
  --primary: var(--dark);
  --secondary: var(--light);
  --hover: var(--accent);
  --navbar-bg: #fff;
  --navbar-color: #fff;
}

:root[data-theme=dark] {
  --primary: var(--light);
  --secondary: var(--dark);
  --hover: var(--accent);
  --navbar-bg: #181818;
  --navbar-color: #fff;
}

.cursor {
  width: 6rem;
  height: 3rem;
  background-color: var(--primary);
  border-radius: 0.5rem;
  position: fixed;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
  z-index: 999;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 10px;
  border: none;
  background: transparent;
  z-index: 999;
}

.progress-bar::-webkit-progress-bar {
  background: transparent;
}

.progress-bar::-webkit-progress-value {
  background: var(--primary);
  background-attachment: fixed;
}

.progress-bar::-moz-progress-bar {
  background: var(--accent);
  background-attachment: fixed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Unbounded";
  font-size: 58.95px;
  letter-spacing: 1.8px;
  line-height: 1.3;
  font-weight: 700;
  text-transform: uppercase;
}

p {
  font-family: "Inter";
  font-size: 19.65px;
  letter-spacing: -0.5px;
  line-height: 1.5;
  font-weight: 400;
}

a {
  font-family: "Inter";
  font-size: 19.65px;
  letter-spacing: -0.5px;
  line-height: 1.5;
  font-weight: 400;
  text-decoration: none;
  color: var(--primary);
}
a:hover {
  color: var(--hover);
}

img,
video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  -o-object-fit: cover;
  -o-object-position: center;
}

button {
  background: none;
  color: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 1rem;
  font-family: "Inter";
  font-size: 19.65px;
  letter-spacing: -0.5px;
  line-height: 1.5;
  font-weight: 400;
  padding-block: 1.5rem;
  padding-inline: 3rem;
}
button:hover {
  color: var(--hover);
  border: 1px solid var(--hover);
}

body {
  color: var(--primary);
  background-color: var(--secondary);
}

.nav-wrapper {
  position: fixed;
  width: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  mix-blend-mode: difference;
  z-index: 99;
}
.nav-wrapper #nav {
  max-width: 1920px;
  margin: 0 auto;
  padding-inline: 2rem;
}
.nav-wrapper #nav .wrapper {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-wrapper #nav .wrapper div {
  flex: 1 1 0;
  width: 0;
}
.nav-wrapper #nav .wrapper .icon-wrapper a svg {
  width: 2rem;
  height: 2rem;
  vertical-align: bottom;
}
.nav-wrapper #nav .wrapper .icon-wrapper a svg path {
  fill: var(--navbar-color);
}
.nav-wrapper #nav .wrapper .menu-wrapper {
  display: flex;
}
.nav-wrapper #nav .wrapper .menu-wrapper .item {
  text-align: center;
  margin-block: 1rem;
}
.nav-wrapper #nav .wrapper .menu-wrapper .item a {
  font-family: "Inter";
  font-size: 19.65px;
  letter-spacing: -0.5px;
  line-height: 1.5;
  font-weight: 400;
  color: var(--navbar-color);
}
.nav-wrapper #nav .wrapper .dark-mode {
  text-align: end;
}
.nav-wrapper #nav .wrapper .dark-mode .button-wrapper {
  width: 100%;
}
.nav-wrapper #nav .wrapper .dark-mode .button-wrapper button {
  border: 0;
  padding: 0;
  color: var(--navbar-color);
}

section {
  position: relative;
}

#hero {
  z-index: 1;
}
#hero .wrapper {
  height: 70vh;
  position: relative;
  overflow: hidden;
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
#hero .wrapper .texts-wrapper {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 1;
}
#hero .wrapper .texts-wrapper .texts {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}
#hero .wrapper .texts-wrapper .texts span a {
  font-family: "Unbounded";
  font-size: 58.95px;
  letter-spacing: 1.8px;
  line-height: 1.3;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 10rem;
  white-space: nowrap;
  margin-inline: 2rem;
  line-height: inherit;
}
#hero .wrapper .texts-wrapper .texts span:nth-child(even) {
  display: flex;
  justify-content: flex-start;
}
#hero .wrapper .texts-wrapper .texts span:nth-child(even) {
  display: flex;
  justify-content: flex-end;
}

#work {
  overflow: hidden;
  margin-bottom: 12rem;
}
#work .bg {
  opacity: 0;
  position: fixed;
  width: 100%;
  height: 100svh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
#work .bg .wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Unbounded";
  font-size: 58.95px;
  letter-spacing: 1.8px;
  line-height: 1.3;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 134px;
  color: var(--secondary);
  text-shadow: var(--primary) 0px 0px 3px, var(--primary) 0px 0px 3px, var(--primary) 0px 0px 3px, var(--primary) 0px 0px 3px, var(--primary) 0px 0px 3px, var(--primary) 0px 0px 3px;
}
#work .wrapper {
  max-width: 1920px;
  margin: 0 auto;
  padding-inline: 6rem;
  border-radius: 1rem;
}
#work .wrapper .gallery-wrapper .gallery {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
#work .wrapper .gallery-wrapper .gallery a img {
  border-radius: 1rem;
}
#work .wrapper .gallery-wrapper .work-grid-0 {
  grid-row-start: 1;
  grid-column-start: 2;
  grid-row-end: 2;
  grid-column-end: 4;
}
#work .wrapper .gallery-wrapper .work-grid-1 {
  grid-row-start: 6;
  grid-column-start: 2;
  grid-row-end: 7;
  grid-column-end: 4;
}
#work .wrapper .gallery-wrapper .work-grid-2 {
  grid-row-start: 12;
  grid-column-start: 1;
  grid-row-end: 13;
  grid-column-end: 3;
}
#work .wrapper .gallery-wrapper .work-grid-3 {
  grid-row-start: 3;
  grid-column-start: 5;
  grid-row-end: 4;
  grid-column-end: 7;
}
#work .wrapper .gallery-wrapper .work-grid-4 {
  grid-row-start: 8;
  grid-column-start: 4;
  grid-row-end: 9;
  grid-column-end: 7;
}
#work .wrapper .gallery-wrapper .work-grid-5 {
  grid-row-start: 4;
  grid-column-start: 1;
  grid-row-end: 5;
  grid-column-end: 4;
}
#work .wrapper .gallery-wrapper .work-grid-6 {
  grid-row-start: 9;
  grid-column-start: 1;
  grid-row-end: 10;
  grid-column-end: 3;
}
#work .wrapper .gallery-wrapper .work-grid-7 {
  grid-row-start: 10;
  grid-column-start: 4;
  grid-row-end: 11;
  grid-column-end: 6;
}
#work .wrapper .gallery-wrapper .work-grid-8 {
  grid-row-start: 14;
  grid-column-start: 4;
  grid-row-end: 15;
  grid-column-end: 7;
}

#about {
  padding-block: 12rem;
}
#about .wrapper {
  overflow: hidden;
  max-width: 1920px;
  margin: 0 auto;
  padding-inline: 6rem;
  z-index: 1;
}
#about .wrapper .title {
  white-space: nowrap;
  font-family: "Unbounded";
  font-size: 58.95px;
  letter-spacing: 1.8px;
  line-height: 1.3;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 12rem;
}
#about .wrapper .video-wrapper {
  margin-block: 12rem;
}
#about .wrapper .video-wrapper .video {
  max-height: 80vh;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
#about .wrapper .awards {
  padding: 0;
}
#about .wrapper .awards .awards-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--primary);
  padding-block: 2rem;
}
#about .wrapper .awards .awards-item span {
  font-family: "Inter";
  font-size: 19.65px;
  letter-spacing: -0.5px;
  line-height: 1.5;
  font-weight: 400;
}

#contact {
  background-color: var(--secondary);
}
#contact .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100svh;
}
#contact .wrapper a {
  font-family: "Unbounded";
  font-size: 58.95px;
  letter-spacing: 1.8px;
  line-height: 1.3;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 134px;
}/*# sourceMappingURL=main.css.map */