img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

@font-face {
  font-family: "MonumentExtended";
  src: url("../fonts/MonumentExtended-Regular.otf") format("opentype");
}
@font-face {
  font-family: "MonumentExtended";
  font-weight: bold;
  src: url("../fonts/MonumentExtended-Ultrabold.otf") format("opentype");
}
.cursor {
  width: 16px;
  height: 16px;
  background-color: #f6fbf2;
  border-radius: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
  z-index: 999;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: 100%;
  height: 8px;
  border: none;
  background: transparent;
  z-index: 999;
}

.progress-bar::-webkit-progress-bar {
  background: transparent;
}

.progress-bar::-webkit-progress-value {
  background: #80ff00;
  background-attachment: fixed;
}

.progress-bar::-moz-progress-bar {
  background: #80ff00;
  background-attachment: fixed;
}

section {
  display: block;
  position: relative;
  overflow: hidden;
}

.topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-block: 40px 24px;
  z-index: 998;
}
.topbar img {
  width: 40px;
  height: 40px;
  margin-inline: 40px 24px;
}
.topbar button {
  margin-inline: 40px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  padding: 8px 16px;
  font-weight: bold;
  font-family: "Work Sans";
  background-color: transparent;
  color: #80ff00;
  border: 3px solid #80ff00;
}

#welcome {
  display: flex;
  justify-content: center;
  align-items: bottom;
  background-color: #f6fbf2;
  z-index: 1;
}
#welcome .my-picture {
  width: auto;
  height: 100svh;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
}
#welcome .walking-texts {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  overflow: hidden;
  z-index: -1;
}
#welcome .walking-text {
  flex-shrink: 0;
  white-space: nowrap;
  box-sizing: border-box;
  color: #171e10;
  font-size: 30vh;
  font-family: "MonumentExtended";
  text-transform: uppercase;
  margin-block: 1vh;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
#welcome .walking-text:nth-of-type(odd) {
  text-align: start;
}
#welcome .walking-text:nth-of-type(even) {
  text-align: end;
}
#welcome .walking-text span {
  display: inline;
  box-sizing: border-box;
}
#welcome .walking-text span:hover {
  color: #80ff00;
}

#showcase {
  background-color: #171e10;
  z-index: 2;
}

#about {
  background-color: #171e10;
  z-index: 3;
}

#contact {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #171e10;
  z-index: 4;
}
#contact a {
  font-family: "MonumentExtended";
  font-size: 134px;
  color: #80ff00;
  text-decoration: none;
}

.back-to-top {
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  padding: 8px 16px;
  font-weight: bold;
  font-family: "Work Sans";
  background-color: transparent;
  color: #80ff00;
  border: 3px solid #80ff00;
  z-index: 5;
}/*# sourceMappingURL=main.css.map */