@import url("https://fonts.googleapis.com/css2?family=Unbounded&family=Inter:wght@400;700&display=swap");
:root {
  --dark: rgb(16, 16, 16);
  --light: rgb(255, 255, 255);
  --base-block: 2rem;
  --base-inline: 2vw;
  --base-gap: 2vw;
  --base-radius: 16px;
}

:root[data-theme=light] {
  --primary: var(--dark);
  --secondary: var(--light);
}

:root[data-theme=dark] {
  --primary: var(--light);
  --secondary: var(--dark);
}

.cursor {
  width: var(--base-gap);
  height: var(--base-gap);
  background-color: var(--primary);
  position: fixed;
  transform: translate(-50%, -50%);
  border-radius: 999%;
  mix-blend-mode: difference;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 10px;
  border: none;
  background: transparent;
  z-index: 999;
}

.progress-bar::-webkit-progress-bar {
  background: transparent;
}

.progress-bar::-webkit-progress-value {
  background: var(--primary);
  background-attachment: fixed;
}

.progress-bar::-moz-progress-bar {
  background: var(--primary);
  background-attachment: fixed;
}

a {
  text-decoration: none;
  color: var(--primary);
}
a:hover {
  color: var(--primary);
}

img,
video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  -o-object-fit: cover;
  -o-object-position: center;
}

button {
  background: none;
  color: var(--primary);
  border: 1px solid var(--primary);
  border-radius: var(--base-radius);
  padding-block: 1rem;
  padding-inline: 2rem;
  cursor: pointer;
}
button:hover {
  color: var(--primary);
  border: 1px solid var(--primary);
  background-color: var(--secondary);
}

body {
  font-size: 0.8rem;
  font-family: "Inter";
  letter-spacing: -0.5px;
  line-height: 1.5;
  font-weight: 400;
  color: var(--primary);
  background-color: var(--secondary);
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
@media (min-width: 753pxpx) {
  body {
    font-size: calc(
      12.8rempx + (16rem - 12.8rem) *
        ((100vw - 753pxpx) / (1680px - 753px))
    );
  }
}
@media (min-width: 1680pxpx) {
  body {
    font-size: 1rem;
  }
}

body::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.container {
  max-width: 3240px;
  margin: 0 auto;
}

.wrapper {
  padding: var(--base-block) var(--base-inline);
  margin: 0 auto;
}

#nav {
  padding-block: var(--base-block);
  z-index: 999;
}
#nav .wrapper {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  mix-blend-mode: difference;
  padding: 0;
}
#nav .wrapper .menu-wrapper {
  padding-inline: var(--base-inline);
  display: inline-flex;
  gap: var(--base-gap);
}
#nav .wrapper .menu-wrapper .item a {
  color: var(--light);
  opacity: 0.8;
}
#nav .wrapper .menu-wrapper .item a:hover {
  opacity: 1;
}
#nav .wrapper .dark-mode {
  padding-inline: var(--base-inline);
}
#nav .wrapper .dark-mode .button-wrapper {
  width: 100%;
}
#nav .wrapper .dark-mode .button-wrapper button {
  border: 0;
  padding: 0;
  color: var(--light);
  opacity: 0.8;
}
#nav .wrapper .dark-mode .button-wrapper button:hover {
  opacity: 1;
  background: none;
}

#hero .wrapper .lead-wrapper .lead {
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
#hero .wrapper .lead-wrapper .lead .item {
  font-size: 2rem;
  font-family: "Unbounded";
  letter-spacing: 1.8px;
  line-height: 1.3;
  font-weight: 700;
  white-space: nowrap;
  opacity: 0.3;
}
@media (min-width: 753pxpx) {
  #hero .wrapper .lead-wrapper .lead .item {
    font-size: calc(
      32rempx + (160rem - 32rem) *
        ((100vw - 753pxpx) / (1680px - 753px))
    );
  }
}
@media (min-width: 1680pxpx) {
  #hero .wrapper .lead-wrapper .lead .item {
    font-size: 10rem;
  }
}

#work .wrapper .helper-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--base-block);
}
#work .wrapper .helper-wrapper .info-wrapper .info .item {
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
#work .wrapper .helper-wrapper .filter-wrapper {
  display: flex;
  justify-content: end;
}
#work .wrapper .helper-wrapper .filter-wrapper .filter {
  display: inline-flex;
  gap: var(--base-gap);
  border-radius: var(--base-radius);
}
#work .wrapper .helper-wrapper .filter-wrapper .filter .item button {
  padding: 8px 2rem;
  border: 1px solid rgba(100, 100, 100, 0.2);
}
#work .wrapper .work-wrapper .work {
  display: grid;
  grid-template-rows: repeat(4, 320px);
  grid-template-columns: repeat(3, 1fr);
  gap: var(--base-gap);
}
#work .wrapper .work-wrapper .work a img {
  border-radius: var(--base-radius);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  vertical-align: bottom;
}
#work .wrapper .work-wrapper .item-0 {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-column-end: 2;
}
#work .wrapper .work-wrapper .item-1 {
  grid-row-start: 2;
  grid-column-start: 1;
  grid-row-end: 3;
  grid-column-end: 2;
}
#work .wrapper .work-wrapper .item-2 {
  grid-row-start: 1;
  grid-column-start: 2;
  grid-row-end: 3;
  grid-column-end: 3;
}
#work .wrapper .work-wrapper .item-3 {
  grid-row-start: 1;
  grid-column-start: 3;
  grid-row-end: 4;
  grid-column-end: 4;
}
#work .wrapper .work-wrapper .item-4 {
  grid-row-start: 3;
  grid-column-start: 1;
  grid-row-end: 5;
  grid-column-end: 3;
}
#work .wrapper .work-wrapper .item-5 {
  grid-row-start: 4;
  grid-column-start: 3;
  grid-row-end: 5;
  grid-column-end: 4;
}

#about {
  padding-block: var(--base-inline);
}
#about .wrapper {
  padding-inline: var(--base-inline);
  z-index: 1;
}
#about .wrapper .title {
  margin-bottom: var(--base-inline);
}
#about .wrapper .video-wrapper {
  margin-block: var(--base-inline);
}
#about .wrapper .video-wrapper .video {
  max-height: 80vh;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
#about .wrapper .awards {
  padding: 0;
}
#about .wrapper .awards .awards-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--primary);
  padding-block: var(--base-inline);
}

#contact {
  background-color: var(--secondary);
}
#contact .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100 svh;
}/*# sourceMappingURL=main.css.map */