/* Root */
:root {
	font-family: 'Work Sans';
}

/* Cursor */
.cursor {
	position: fixed;
	width: 130px;
	height: 130px;
	background-color: #fff;
	border-radius: 50%;
	pointer-events: none;
	transform: translate(-50%, -50%);
	user-select: none;
	mix-blend-mode: difference;
	z-index: 999;
}

/* Default State */
a {
	text-decoration: none;
}

section {
	position: relative;
	overflow: hidden;
}

img {
	width: 100%;
	object-fit: cover;
	object-position: center;
}

/* Nav */
#nav {
	position: fixed;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
}

/* Sections */
#home {
	height: 100vh;
	color: #fff;
	background-color: #111;
	place-content: center;
}

#projects {
	display: grid;
	grid-template-columns: 1fr 1fr;
	flex-direction: column;
}

#contact {
	place-content: center;
	height: 100vh;
	background-color: #111;
}

/* Home Widgets */
.home-widgets {
	position: relative;
	height: 100vh;
}

.brand {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* Project Widgets */
.project {
	width: 100%;
	display: flex;
}

/* Contact Widgets */
